<% provide(:title, "Article Queue") %>
<% postalt = false %>

<div class="alert">
  <a class="close" data-dismiss="alert">&#215;</a>
  <div id="flash_notice"><strong>Note:</strong> These articles have not yet been published.</div>
</div>

<% if @articles.count > 0 %>
  <% @articles.each do |article| %>
    <%= postalt == true ? '<div class="post post-alt">'.html_safe : '<div class="post">'.html_safe %>
      <% postalt = !postalt %>
      <h2 class="clearfix title"><%= link_to sanitize(article.title), article %></h2>
      <p class="clearfix meta"><span class="date"><%= article.created_at.strftime("%B %d, %Y") %></span><span class="posted">Posted by <%= link_to User.find(article.user_id).name, user_path(article.user_id) %></span></p>
      <div class="entry">
        <%=
          # Show only the summary if summary comment tags are found.
          if /<!-- summary -->(.+)<!-- summary_end -->/m =~ article.content then
            sanitize($1, :tags => ALLOWED_TAGS, :attributes => ALLOWED_ATTRIBUTES).html_safe
          else
            sanitize(article.content, :tags => ALLOWED_TAGS, :attributes => ALLOWED_ATTRIBUTES).html_safe
          end
        %>
        <p class="links"><%= link_to "Read More", article, :class => 'btn' %><span class="comment-count"><%= link_to("Comments (#{article.comments.count})", article) if article.comments.count > 0 %></span></p>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="post">
    <div class="entry">
      <h5>No unpublished articles in the queue! \o/</h5>
    </div>
  </div>
<% end %>
