<% provide(:title, "Home") %>
<% postalt = true %>

<div id="greeting" class="clearfix">
  <%= image_tag('rough_logo_goldgreen_150.png') %>
  <p>Welcome! We're a homebrew club based in Southern Pines, North Carolina! Please have a look around and feel free to <%= link_to 'sign up', new_user_registration_path %> to be able to access all features of the site.</p>
  <ul>
    <li><%= link_to 'About Us', about_path, :class => 'btn btn-mini' %></li>
    <li><%= link_to 'Sign Up', new_user_registration_path, :class => 'btn btn-mini' %></li>
    <li><%= link_to 'Events', calendar_path, :class => 'btn btn-mini' %></li>
  </ul>
</div>


<% if @articles.count > 0 %>
  <% @articles.each do |article| %>
    <%= postalt == true ? '<div class="post post-alt">'.html_safe : '<div class="post">'.html_safe %>
      <% postalt = !postalt %>
      <h2 class="clearfix title"><%= link_to sanitize(article.title), article %></h2>
      <p class="clearfix meta"><span class="date"><%= article.created_at.strftime("%B %d, %Y") %></span><span class="posted">Posted by <%= link_to User.find(article.user_id).name, user_path(article.user_id) %></span></p>
      <% if article.event %>
        <div class="event-details">
          <h5>When: <%= article.start_at.strftime("%A, %B %d at %I:%M%p") %> <%= "(noon)" if article.start_at.strftime("%I:%M%p") == "12:00PM" %></h5>
          <h5>Where: <%= sanitize(article.location) %></h5>
        </div>
      <% end %>
      <div class="entry">
        <p>
          <%=
            # Show only the summary if summary comment tags are found.
            if /<!-- summary -->(.+)<!-- summary_end -->/m =~ article.content then
              sanitize($1, :tags => ARTICLES_ALLOWED_TAGS, :attributes => ARTICLES_ALLOWED_ATTRIBUTES).html_safe
            else
              sanitize(article.content, :tags => ARTICLES_ALLOWED_TAGS, :attributes => ARTICLES_ALLOWED_ATTRIBUTES).html_safe
            end
          %>
        </p>
        <p class="links"><%= link_to "Read More", article, :class => 'btn' %><span class="comment-count"><%= link_to("Comments (#{article.comments.count})", article) if article.comments.count > 0 %></span></p>
      </div>
    </div>
  <% end %>
  <%= postalt == true ? '<div class="post post-alt">'.html_safe : '<div class="post">'.html_safe %>
    <p><%= link_to "More articles", articles_path, :class => 'center center-text' %></p>
  </div>
<% end %>
