<% provide(:title, "Home") %>
<% postalt = true %>

<div id="greeting" class="clearfix">
  <%= image_tag('rough_logo_goldgreen_150.png') %>
  <p>Welcome! We're a homebrew club based in Southern Pines, North Carolina! Please have a look around and feel free to <%= link_to 'sign up', new_user_registration_path %> to be able to access all features of the site.</p>
  <ul>
    <li><%= link_to 'About Us', about_path, :class => 'btn btn-mini' %></li>
    <li><%= link_to 'Sign Up', new_user_registration_path, :class => 'btn btn-mini' %></li>
    <li><%= link_to 'Events', calendar_path, :class => 'btn btn-mini' %></li>
  </ul>
</div>


<% if @articles_and_events.count > 0 %>
  <% @articles_and_events.each do |ae| %>
    <%= postalt == true ? '<div class="post post-alt">'.html_safe : '<div class="post">'.html_safe %>
      <% postalt = !postalt %>
      <h2 class="clearfix title"><%= link_to sanitize(ae[:title]), "#{ae[:type]}s/#{ae[:id]}" %></h2>
      <p class="clearfix meta"><span class="date"><%= ae[:created_at].strftime("%B %d, %Y") %></span><span class="posted">Posted by <%= link_to User.find(ae[:user_id]).name, user_path(ae[:user_id]) %></span></p>
      <% if ae[:type] == 'event' %>
        <div class="event-details">
          <h5>When: <%= ae[:start_at].to_time.strftime("%A, %B %d at %I:%M%p") %> <%= "(noon)" if ae[:start_at].strftime("%I:%M%p") == "12:00PM" %></h5>
          <h5>Where: <%= sanitize(ae[:location]) %></h5>
        </div>
      <% end %>
      <div class="entry">
        <p>
          <%=
            # Show only the summary if summary comment tags are found.
            if /<!-- summary -->(.+)<!-- summary_end -->/m =~ ae[:content] then
              sanitize($1, :tags => ALLOWED_TAGS, :attributes => ALLOWED_ATTRIBUTES).html_safe
            else
              sanitize(ae[:content], :tags => ALLOWED_TAGS, :attributes => ALLOWED_ATTRIBUTES).html_safe
            end
          %>
        </p>
        <% comment_count = Comment.find_all_by_commentable_id(ae[:id]).count %>
        <p class="links"><%= link_to "Read More", "#{ae[:type]}s/#{ae[:id]}", :class => 'btn' %><!-- <span class="comment-count"><%= link_to("Comments (#{comment_count})", "#{ae[:type]}s/#{ae[:id]}") if comment_count > 0 %></span> --></p>
      </div>
    </div>
  <% end %>
  <%= postalt == true ? '<div class="post post-alt">'.html_safe : '<div class="post">'.html_safe %>
    <p><%= link_to "More articles", articles_path, :class => 'center center-text' %></p>
  </div>
<% end %>
