<% provide(:title, "Edit Event") %>

<div class="post">
  <h2 class="clearfix title">Edit Event</h2>
  <p class="clearfix meta"></p>
  <div class="entry">
    <%= render 'instructions' %>
    <%= simple_form_for @event do |f| %>
      <%= f.error_notification %>
      <%= display_base_errors @event %>
      <%= render 'fields', :f => f %>
      <%= f.button :submit, "Update Event", :class => 'btn-primary' %>
    <% end %>
  </div>
</div>
