<% 
# XXX - This doesn't really belong in the view but whatever
article_queue_link_str = "Article Queue"
event_queue_link_str = "Event Queue"
if user_signed_in? and current_user.has_role? :admin
  unpublished_article_count = Article.not_published.count
  unpublished_event_count = Event.not_published.count
  if unpublished_article_count > 0
    article_queue_link_str += " <span class=\"badge\">#{unpublished_article_count}</span>"
  end
  if unpublished_event_count > 0
    event_queue_link_str += " <span class=\"badge\">#{unpublished_event_count}</span>"
  end
end
%>

<nav>
  <ul class="nav pull-left">
    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Navigation <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Calendar", calendar_path %></li>
        <li><%= link_to "Forums", forums_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </li>
  </ul>
  <ul class="nav pull-right">
    <% if user_signed_in? and current_user.has_role? :admin %>
      <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Admin <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Admin Dashboard", admin_path %></li>
          <li><%= link_to "User Management", users_path %></li>
          <li class="divider"></li>
          <li><%= link_to article_queue_link_str.html_safe, article_queue_path %></li>
          <li><%= link_to event_queue_link_str.html_safe, event_queue_path %></li>
          <li class="divider"></li>
          <li><%= link_to "New Article", new_article_path %></li>
          <li><%= link_to "New Event", new_event_path %></li>
        </ul>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Preferences", preferences_path %></li>
          <li><%= link_to "Settings", edit_user_registration_path %></li>
          <li class="divider"></li>
          <li>
            <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
          </li>
        </ul>
      </li>
    <% else %>
      <li>
        <%= link_to 'Sign in', new_user_session_path %>
      </li>
    <% end %>
  </ul>
</nav>
