<% @latest_posts = Post.order('updated_at DESC').limit(5) %>
<% @upcoming_events = Event.published.starts_after(Time.zone.now - 1.day).order("start_at ASC").limit(5) %>
<% @quote = BEER_QUOTES[Random.rand(BEER_QUOTES.count)] %>

<ul>
  <%
  #<li>
  #  <h2>Search Here</h2>
  #  <div id="search" >
  #    <form method="get" action="#">
  #      <div>
  #        <input type="text" name="s" id="search-text" value="" />
  #        <input type="submit" id="search-submit" value="" />
  #      </div>
  #    </form>
  #  </div>
  #  <div style="clear: both;">&nbsp;</div>
  #</li>
  %>
  <li>
    <p>
      <strong>
        "<%= @quote[:text] %>"<br />
        <span class="pull-right">-- <%= @quote[:author] %></span>
      </strong>
    </p>
  </li>
  <li>
    <p><%= image_tag('hops_trans.png', :class => 'center') %></p>
  </li>
  <% if @upcoming_events.count > 0 %>
    <li>
      <h2>Upcoming Events</h2>
      <ul>
        <% @upcoming_events.each do |e| %>
          <li>
            <div class="upcoming-event-date"><%= e.start_at.strftime('%-m/%-d') %></div>
            <div class="upcoming-event-desc"><%= link_to truncate(strip_tags(e.title), :length => 40, :omission => '...'), e %></div>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <li>
    <h2>Latest Forum Posts</h2>
    <ul>
      <% @latest_posts.each do |p| %>
        <li><span class="pull-left"><%= link_to truncate(strip_tags(p.title), :length => 34, :omission => '...'), p %></span><span class="pull-right"><small>by <%= link_to truncate(p.user.name, :length => 10), p.user %></small></span></li>
      <% end %>
    </ul>
  </li>
  <li>
    <h2>Other Resources</h2>
    <ul>
      <li><a href="http://www.bullcityhomebrew.com/images/grain-order-sheet.pdf" target="_blank">Bull City Homebrew Grain Order Sheet</a></li>
      <li><a href="http://www.trianglewineco.com/southern-pines-whats-on-tap.html" target="_blank">Triangle Wine Co. Southern Pines Tap List</a></li>
    </ul>
  </li>
  <li>
    <div id="twitter">
      <a class="twitter-timeline" href="https://twitter.com/Southernhop" data-widget-id="423501713731878912">Tweets by @Southernhop</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </li>
  <li>
    <div id="socialmedia-icons">
      <a href="https://plus.google.com/107248623242623742815" rel="publisher" target="_top" style="text-decoration:none;"><img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/></a>
      <a href="https://www.facebook.com/southernhopheads"><img src="http://static.viewbook.com/images/social_icons/facebook_32.png"/></a>
    </div>
  </li>
</ul>
